<% content_for(:title) { "Call for paper" } %>

<div class="row" data-equalizer>
  <div class="large-6 columns">
    <div class="panel" data-equalizer-watch>
      <h2>Deadline: 18 September 2015</h2>

      <p>
      We invite abstracts for papers covering any topic related to food and
      nutrition in Europe including, but not limited to, the following:
      </p>

      <ul>

        <li> The relationship between diet, nutrition and health.  </li>

        <li>
          Economic, anthropometric and statistical approaches to the analysis of
  food consumption.
        </li>

        <li>
          Household-level analysis of nutrition/food expenditure and living standards.
        </li>

        <li>
          Transnational comparisons between European countries and/or studies
          of change over time in one country or region.
        </li>

        <li>
          The development of policy by humanitarian, governmental and intergovernmental organisations.
        </li>
      </ul>

      <p>
This conference is open to early career and established academics in any
relevant discipline. The conference will be organised on workshop principles
in one venue.
      </p>

    </div>
  </div>

  <div class="large-6 columns">
    <div class="panel" data-equalizer-watch>
      <%= form_tag({action: 'post'}, multipart: true) do %>
        <div class="row">
          <div class="large-12 columns">
            <%= input(@paper, 'academic_title', label: 'Academic title') %>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <%= input(@paper, 'first_name', label: 'First name') %>
          </div>
          <div class="large-6 columns">
            <%= input(@paper, 'last_name', label: 'Last name') %>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <%= input(@paper, 'email', label: 'Email', type: 'email', placeholder: '@') %>
          </div>
          <div class="large-6 columns">
            <label>
              <%= input(@paper, 'affiliated_university', label: 'Affiliated University') %>
          </div>
        </div>
        <div class="row">
          <fieldset>
            <p>Abstracts of 300 words, for papers of 20 minutes.</p>
            <%= input(@paper, 'paper', label: 'Upload proposal', type: 'file', accept: 'application/*') %>
          </fieldset>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <button type="submit" class="small radius button">Submit</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
