<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= [data.page.title, data.site.name].compact.join(' | ') %></title>

    <%= stylesheet_link_tag "style" %>
    <%= yield_content :page_styles %>
    <%= javascript_include_tag "modernizr" %>
  </head>
  <body class="<%= page_classes %>">

    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to data.site.name, "/" %></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="left">
          <li class="submit"><%= link_to "Call for paper", "submit.html" %></li>
          <li class="register"><%= link_to "Registration", "register.html" %></li>
          <li class="program"><%= link_to "Program", "program.html" %></li>
          <li class="contact"><%= link_to "Abstract", "contact.html" %></li>
          <li class="access"><%= link_to "Access", "access.html" %></li>
          <li class="about"><%= link_to "About", "about.html" %></li>
          <li class="blank"><%= link_to "Contact", "blank.html" %></li>
        </ul>
      </section>
    </nav>

    <main>
      <%= yield %>
    </main>

    <footer>
      <div class="row">
        <div class="column large-12">
          <p>(c) 2016 - Sussex University - Created by <a href="https://zimbatm.com" target="_blank">zimbatm</a></p>
        </div>
      </div>
    </footer>

    <%= javascript_include_tag  "all" %>
  </body>
</html>
