<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= [yield(:title), site_name].compact.join(' | ') %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= yield(:page_styles) %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to site_name, home_path %></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="left">
          <li class="submit"><%= link_to "Call for paper", call_for_paper_path %></li>
          <li class="register"><%= link_to "Registration", registration_path %></li>
          <li class="programme"><%= link_to "Programme", programme_path %></li>
          <li class="abstracts"><%= link_to "Abstracts", abstracts_path %></li>
          <li class="access"><%= link_to "Access", access_path %></li>
          <li class="about"><%= link_to "About", about_path %></li>
          <li class="contact"><%= link_to "Contact", contact_path %></li>
        </ul>
      </section>
    </nav>

    <main>
      <%= yield %>
    </main>

    <footer>
      <div class="row">
        <div class="column large-12">
          <p>(c) 2016 - Sussex University - Created by <a href="https://zimbatm.com" target="_blank">zimbatm</a></p>
        </div>
      </div>
    </footer>

    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= yield(:page_scripts) %>
  </body>
</html>
